.upper {
  width: 180px;
  @media (max-width: 767px) {
    width: 40px;
  }
  h3 {
    user-select: none;
    font-family: "Cookie", "Open sans";
    font-size: 44px;
    position: relative;
    margin-top: 0;
    text-align: center;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 22px;
      position: relative;
      left: -4px;
    }
  }
  h3::before,
  h3::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  h3::before {
    width: 100px;
    height: 2px;
    background-color: var(--black);
    bottom: -10px;
    border-radius: 20px;
    @media (max-width: 767px) {
      bottom: -4px;
      width: 50px;
      left: 25px;
    }
  }
  h3::after {
    height: 12px;
    width: 12px;
    background-color: var(--greylight2);
    bottom: -17px;
    border: 2px solid var(--black);
    border-radius: 50%;
    outline: 7px double var(--white);
    @media (max-width: 767px) {
      bottom: -9px;
      height: 8px;
      width: 8px;
      left: 25px;
    }
  }
  ul {
    li {
      a {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 10px;
        margin-bottom: 5px;
        border-radius: 6px;
        transition: 0.3s;
        @media (max-width: 767px) {
          justify-content: center;
        }
        span {
          color: inherit;
          margin-left: 10px;
          position: relative;
          transition: margin-left ease-in-out 0.2s;
          @media (max-width: 767px) {
            display: none;
          }
        }
        i {
          color: inherit;
          @media (max-width: 767px) {
            font-size: 18px;
          }
        }
      }
      a:hover,
      a.active {
        background-color: var(--greylight);
      }
      a:hover > span {
        margin-left: 14px;
      }
      a.active {
        color: var(--blue);
      }
    }
  }
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  > .lower {
    > p {
      padding: 0px 10px;
      margin: 0;
      font-size: 14px;
      @media (max-width: 767px) {
        display: none;
      }
      > span {
        color: var(--blue);
        font-weight: bold;
        font-size: 24px;
        font-family: "Cookie", "Open sans";
      }
    }
  }
}
