<div class="main">
  <div class="head">
    <h2><i class="fa-solid fa-address-card"></i>Latest Posts</h2>
    <div class="pages">
      <div
        class="pagination"
        *ngFor="let page of pages"
        (click)="paginate(page)"
        [class.active]="page === index"
      ></div>
    </div>
  </div>
  <div class="top">
    <img [src]="selectedPost.img" alt="picture of notification owner" />
    <div class="info">
      <span class="name">{{ selectedPost.name }}</span>
      <span class="time">{{ selectedPost.time }}</span>
    </div>
  </div>
  <div class="post">
    {{ selectedPost.post }}
  </div>
  <div class="stats">
    <div>
      <i class="fa-solid fa-heart"></i>
      <span>{{ selectedPost.likes }}k</span>
    </div>
    <div class="buttons">
      <button class="before" [disabled]="index == 0" (click)="before()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
      <button
        class="next"
        [disabled]="index == posts.length - 1"
        (click)="next()"
      >
        <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>
    <div>
      <i class="fa-solid fa-comments"></i>
      <span>{{ selectedPost.comments }}k</span>
    </div>
  </div>
</div>
