<div class="main">
  <h2><i class="fa-solid fa-user-lock"></i>Security Info</h2>
  <p>Security information about your account.</p>
  <div class="box">
    <div class="first">
      <span>Password</span>
      <p>Last Changes On 09/09/2024</p>
    </div>
    <button>Change</button>
  </div>
  <div class="box">
    <div class="first">
      <span>Two-Factor Authentication</span>
      <p>Enable/Disable the feature</p>
    </div>
    <toggle-switch></toggle-switch>
  </div>
  <div class="box">
    <div class="first">
      <span>Devices</span>
      <p>Check the login devices list</p>
    </div>
    <button class="diffbtn">Devices</button>
  </div>
</div>
