<div class="main">
  <h2><i class="fa-solid fa-globe"></i>Social Media</h2>
  <div class="box email">
    <i class="fa-solid fa-square-envelope"></i>
    <span>9k+ emails </span>
    <a target="_blank" href="mailto:mohazemwork@gmail.com">Send Email</a>
  </div>
  <div class="box linkedin">
    <i class="fa-brands fa-linkedin"></i>
    <span>1k+ Followers</span>
    <a target="_blank" href="https://www.linkedin.com/in/mohamed-hazem-dev/">
      Follow</a
    >
  </div>
  <div class="box github">
    <i class="fa-brands fa-square-github"></i>
    <span>100+ Contributions </span>
    <a target="_blank" href="https://github.com/Mohamed-Hazem-projects"
      >Follow</a
    >
  </div>
  <div class="box facebook">
    <i class="fa-brands fa-square-facebook"></i>
    <span>10M Likes </span>
    <a target="_blank" href="https://www.facebook.com/mohammed.hazem.204/"
      >Add Friend</a
    >
  </div>
</div>
