<my-header [progress]="90">Settings</my-header>
<wrapper>
  <div class="widget" widgetAppear>
    <control-widget></control-widget>
  </div>
  <div class="widget" widgetAppear>
    <general-info-widget></general-info-widget>
  </div>
  <div class="widget" widgetAppear>
    <security-info-widget></security-info-widget>
  </div>
  <div class="widget" widgetAppear>
    <social-settings-widget></social-settings-widget>
  </div>
  <div class="widget" widgetAppear>
    <widgets-control-widget></widgets-control-widget>
  </div>
  <div class="widget" widgetAppear>
    <backups-widget></backups-widget>
  </div>
</wrapper>
