.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px 0 var(--grey);
  z-index: 99;
  user-select: none;
  .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--greylight2);
    padding: 10px 10px 10px 16px;
    cursor: move;
    h2 {
      font-size: 20px;
      margin: 0;
    }
    > .move {
      font-size: 28px;
      color: hsla(0, 0%, 50%, 0.1);
    }
    .cancel {
      font-size: 29px;
      color: var(--red);
      cursor: pointer;
    }
  }
  .settings {
    background-color: var(--whitetemp);
    padding: 6px 16px;
    height: 350px;
    overflow-y: auto;
    cursor: default;
    top: -1px;
    position: relative;
    form {
      h3 {
        margin: 0;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      label {
        font-size: 14px;
        font-weight: 400;
        margin-right: 10px;
      }
      input {
        font-size: 12px;
        background-color: var(--greylight2);
        border: 1px solid var(--grey);
      }
      input[type="range"] {
        width: 95%;
        margin-bottom: 10px;
      }
      input[type="Submit"] {
        cursor: pointer;
        display: block;
        font-size: 14px;
        border-radius: 6px;
        background-color: var(--blue2);
        color: white;
        width: fit-content;
        margin: 10px 15px 10px auto;
        padding: 6px 14px;
        transition: background-color 0.3s;
        border: 1px solid #3f51b5;
      }
      input[type="Submit"]:hover {
        background-color: var(--blue);
      }
    }
  }
}
