.main-layout {
  display: flex;
  min-height: 100vh;
  background-color: var(--lightbluetemp);
}
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
side-bar {
  box-shadow: 0 0 10px var(--greytemp);
  position: relative;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  @media (max-width: 767px) {
    padding: 10px;
  }
  background-color: var(--white);
}
