<div class="main">
  <h2><i class="fa-regular fa-note-sticky"></i>Reminders</h2>
  <ul>
    <li>
      <span class="key red"></span>
      <div class="red">
        <p>Check Widget Controls</p>
        <span>03/09/2024 - 11:39 PM</span>
      </div>
    </li>
    <li>
      <span class="key green"></span>
      <div class="green">
        <p>Finish Profile Page</p>
        <span>04/9/2024 - 5:48 PM</span>
      </div>
    </li>
    <li>
      <span class="key blue"></span>
      <div class="blue">
        <p>Call My Clients</p>
        <span>05/08/2024 - 4:44 PM</span>
      </div>
    </li>
    <li>
      <span class="key orange"></span>
      <div class="orange">
        <p>Learn NgRx</p>
        <span>06/04/2024 - 3:45 PM</span>
      </div>
    </li>
  </ul>
</div>
