<div class="main">
  <h2><i class="fa-solid fa-thumbs-up"></i>Social Media</h2>
  <p>Your social media accounts.</p>
  <div class="social linkedin">
    <i class="fa-brands fa-linkedin"></i>
    <input
      type="text"
      placeholder="your linkedin account"
      value="mohamed-hazem-dev"
    />
  </div>
  <div class="social mail">
    <i class="fa-solid fa-square-envelope"></i>
    <input
      type="text"
      placeholder="your email address"
      value="mohazemwork@gmail.com"
    />
  </div>
  <div class="social github">
    <i class="fa-brands fa-square-github"></i>
    <input
      type="text"
      placeholder="your github account"
      value="Mohamed-Hazem-projects"
    />
  </div>
  <div class="social facebook">
    <i class="fa-brands fa-square-facebook"></i>
    <input
      type="text"
      placeholder="your facebook account"
      value="mohammed.hazem.204"
    />
  </div>
</div>
