<div class="main">
  <div class="header">
    <h2><i class="fa-solid fa-list-check"></i>Latest Tasks</h2>
    <div
      class="progress"
      [class.all-complete]="(noOfFinishedTasks | async) === (noOfTasks | async)"
    >
      {{ noOfFinishedTasks | async }}/{{ noOfTasks | async }} Completed
    </div>
  </div>
  <ng-container *ngFor="let task of tasks | async; index as i">
    <div class="task-row" [class.finished]="task.finished">
      <div class="info">
        <h3>{{ task.task }}</h3>
        <p>{{ task.taskDetails }}</p>
      </div>
      <div class="icons">
        <i
          class="fa-regular fa-circle-check check"
          (click)="finishTask(i)"
          *ngIf="!task.finished"
        ></i>
        <i
          class="fa-regular fa-circle-xmark check"
          (click)="finishTask(i)"
          *ngIf="task.finished"
        ></i>
        <i class="fa-regular fa-trash-can delete"></i>
      </div>
    </div>
  </ng-container>
  <button class="add">Add Task</button>
</div>
