.main {
  padding: 20px;
  background-color: var(--white);
  border-radius: 10px;
  > .header {
    display: flex;
    justify-content: space-between;
    @media (max-width: 767px) {
      flex-direction: column;
    }
    > h2 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: 24px;
      > i {
        color: var(--blue);
        font-size: 22px;
        margin-right: 8px;
      }
    }
    > .progress {
      background-color: var(--greylight2);
      font-size: 13px;
      padding: 5px 10px;
      border-radius: 6px;
      height: fit-content;
      @media (max-width: 767px) {
        text-align: center;
      }
    }
  }
  > .task-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    @media (max-width: 767px) {
      padding: 8px 6px;
    }
    transition: border-bottom 0.2s, background-color 0.2s;
    > .info {
      > h3 {
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 17px;
      }
      > p {
        margin: 0;
        color: var(--greydark);
      }
    }
    > .icons {
      display: flex;
      margin-left: 10px;
      .delete {
        color: var(--red);
      }
      .check {
        margin-right: 12px;
        color: var(--green);
        @media (max-width: 767px) {
          margin-right: 6px;
        }
      }
      .delete,
      .check {
        cursor: pointer;
        transition: 0.3s;
        font-size: 22px;
        @media (max-width: 767px) {
          font-size: 18px;
        }
      }
    }
  }
  > .task-row:hover {
    background-color: var(--greylight2);
    border-bottom: 1px solid var(--blue);
  }
}
.finished {
  opacity: 0.3;
  h3,
  p {
    text-decoration: line-through;
  }
}
.main .header .progress.all-complete {
  background-color: var(--green);
  color: white;
}
.task-row {
  border-bottom: 1px solid var(--greylight2);
  padding: 20px 6px;
}
.task-row:last-of-type {
  border-bottom-color: white;
}
.add {
  display: block;
  font-size: 14px;
  border-radius: 6px;
  background-color: var(--blue2);
  color: white;
  width: fit-content;
  margin: 8px 8px 0 auto;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 1px solid #3f51b5;
}
.add:hover {
  background-color: var(--blue);
}
