<div class="tickets">
  <div class="top">
    <h2><i class="fa-solid fa-chart-line"></i>Tickets Statistics</h2>
    <i class="fa-solid fa-gear" (click)="ToggleSettings()"></i>
    <tickets-settings
      *ngIf="settingsOpen"
      (Submitted)="changeSettings($event)"
      (Close)="CloseSettings($event)"
    ></tickets-settings>
  </div>
  <p>Everything about support tickets.</p>
  <div>
    <div class="orange">
      <i class="fa-regular fa-rectangle-list"></i>
      <span #s1 (appear)="animationOnScroll()">{{ this.tickets.Total }}</span>
      Total
    </div>
    <div class="blue">
      <i class="fa-solid fa-spinner"></i>
      <span #s2>{{ this.tickets.Pending }}</span>
      Pending
    </div>
    <div class="green">
      <i class="fa-regular fa-circle-check"></i>
      <span #s3>{{ this.tickets.Closed }}</span>
      Closed
    </div>
    <div class="red">
      <i class="fa-regular fa-rectangle-xmark"></i>
      <span #s4>{{ this.tickets.Deleted }}</span>
      Deleted
    </div>
  </div>
</div>
