<my-header [progress]="40">Dashboard</my-header>
<wrapper>
  <div class="widget" widgetAppear>
    <welcome-widget></welcome-widget>
  </div>
  <div class="widget" widgetAppear>
    <tasks-widget></tasks-widget>
  </div>
  <div class="widget" widgetAppear>
    <targets-widget></targets-widget>
  </div>
  <div class="widget" widgetAppear>
    <tickets-widget></tickets-widget>
  </div>
  <div class="widget" widgetAppear>
    <current-project-widget></current-project-widget>
  </div>
  <div class="widget" widgetAppear>
    <reminders-widget></reminders-widget>
  </div>
  <div class="widget" widgetAppear>
    <posts-widget></posts-widget>
  </div>
  <div class="widget" widgetAppear>
    <social-media-widget></social-media-widget>
  </div>
</wrapper>
<div class="widget table" widgetAppear>
  <projects-widget></projects-widget>
</div>
<wrapper>
  <div class="widget" widgetAppear>
    <news-widget></news-widget>
  </div>
  <div class="widget" widgetAppear>
    <draft-widget></draft-widget>
  </div>
  <div class="widget mb" widgetAppear>
    <top-search-widget></top-search-widget>
  </div>
  <div class="widget mb" widgetAppear>
    <uploads-widget></uploads-widget>
  </div>
</wrapper>
