.widget {
  background-color: var(--whitetemp);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--greytemp);
  @media (max-width: 767px) {
    display: block;
  }
  opacity: 0;
  position: relative;
  top: 35px;
  transition: opacity 0.3s ease-out, top 0.3s ease-out;
}
.appeared {
  opacity: 1;
  top: 0;
}
.table {
  margin: 20px;
  @media (max-width: 767px) {
    margin: 10px;
  }
}
