<my-header [progress]="40">Dashboard</my-header>
<wrapper>
  <div class="widget" widgetAppear>
    <welcome-widget></welcome-widget>
  </div>
  <div class="widget" widgetAppear>
    <tasks-widget></tasks-widget>
  </div>
  <div class="widget" widgetAppear>
    <targets-widget></targets-widget>
  </div>
  <div class="widget" widgetAppear>
    <tickets-widget></tickets-widget>
  </div>
  <div class="widget" widgetAppear>
    <news-widget></news-widget>
  </div>
  <div class="widget" widgetAppear>
    <draft-widget></draft-widget>
  </div>
</wrapper>
